.git
.gitattributes
.gitignore
.idea
.env
.env.*
!.env.example
.dockerignore
node_modules
vendor
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
